body {
  background: url('wov.png') repeat;
  color: #4b5d5a;
  font-family: 'Roboto Slab', serif;
}

p {
  font-size: 14px;
}

.app-list {
  display: inline-flex;
  height: 81vh;
  width: 100%;
}

.app-list-item {
  background-color: #FCF8ED;
  border: 1px solid #4b5d5a;
  margin: 10px;
  overflow-y: auto;
  padding: 10px;
  width: calc(100% / 3)
}

.brand {
  margin: 20px auto 10px;
  text-align: center;
}

.brand h1 {
  font-family: 'Sacramento', cursive;
  font-size: 4.5rem;
  margin-bottom: 0px;
}

.brand p {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 4px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.button {
  background-color: #C0D2C6;
  border-style: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 100%;
}

.button:focus {
  outline: none;
}

.button[disabled] {
  color: red;
  /*transform: rotate(-10deg) scale(2) translateX(50%) translateY(-50%);*/
}

.button-delete {
  background-color: transparent;
  border: none;
  display: none;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin-right: 5px;
  padding-bottom: 0px;
}

.float-right {
  float: right;
}

.item {
  border: 1px dotted #4b5d5a;
  margin-bottom: 10px;
  padding: 10px;
}

.input-form {
  border: none;
  border-bottom: 1px solid #4b5d5a;
  margin-bottom: 5px;
  width: 100%;
}

.input-form:focus {
  outline: none;
}

/* Menu items are not shown on inventory */
.inventory .menu-item {
  display: none;
}

/* Inventory items are not shown on menu */
.menu .inv-item {
  display: none;
}

.menu-image {
  max-width: 100%;
  margin-bottom: 10px;
}

.order-item {
  border-bottom: 1px dotted #4b5d5a;
  list-style: none;
  margin: 10px 0;
  padding-bottom: 10px;
}

.order-item:hover .button-delete {
  display: inline;
}


.order-item span {
  /*margin-right: 20px;*/
}

.subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.title {
  color: #f9b96b;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 4px;
  padding: 10px;
  text-transform: uppercase;
}

/* Bounce To Bottom Effect on Button */
/* TODO: Change effects to other file */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3D4F4C;
  /*background: #463B39;*/
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
